- content_for :title do 'get the result' end

%p
  Based on the estimates you entered, Rushmore estimates that a Trump victory,
  compared with a Clinton victory, will result in a relative loss in stock value of
  $28,792.64 by the year 2020. Click here to learn how this was calculated.
  Regardless of political affiliation, Rushmore encourages all Americans to vote!
  Click here to locate voting booths near you.

%p
  Your savings are #{@user.estimated_retirement_savings}
  and your stocks_or_mutual_funds_percent is #{@user.stocks_or_mutual_funds_percent}.

= link_to "update your information again", previous_wizard_path

= wizard_path