- content_for :title do 'Enter Retirement Savings' end

%p
  %strong Step One:
  %p Enter your estimated retirement savings, or just select an estimate below:

= simple_form_for(@user, html: { class: 'form-horizontal' }, url: wizard_path) do |form|
  = form.input :estimated_retirement_savings
  = form.submit